body {
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
body, button {
    font-family: 'Lora', serif; 
}
/* Background */
.image-corner-right {
    position: absolute;
    top: -86px;
    right: -124px;
}
.image-corner-left {
    position: absolute;
    top: -173px;
    left: -173px;
}
.image-line {
    position: absolute;
    left: -10%;
    top: 100px;
}
/* Content Main */
main {
    max-width: 1040px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
/* Menu */
nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 107px;
    padding-bottom: 115px;
}
nav ul, .my-tools ul, footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav li {
    padding: 32px;
}
a {
    text-decoration: none;
    color: #414141;
}
a, .about-me button {
    text-decoration: none;
        color: #414141;
        border: 1px solid #ffffff00;
        padding: 8px 16px 8px 16px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }

a:hover, .about-me button {
    border: 1px solid #414141;
    }
.main-content {
    display: flex;
    flex-direction: row;
}
.about-me {
    width: 64%;
    padding-right: 4%;
}
.about-me img {
    margin-bottom: 113px;
}
.about-me h1 {
    color: #414141;
    font-size: 50px;
    font-weight: 400;
    margin: 0px 0px 70px 0px;
}
.about-me h2 {
    color: #414141;
    font-size: 28px;
    font-weight: 400;
    margin: 0px 0px 70px 0px;
}
.about-me button {
    background-color: white;
    cursor: pointer;
}
.pictures {
    width: 32%;
    position: relative;
}
.pictures .picture-1{
    transition: all 0.3s ease-in-out;
    transform: rotateZ(10deg)
}
.pictures .picture-1:hover{
    transform: scale(1.2);
}
.pictures .picture-2 {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 100px;
}
.pictures .picture-2:hover {
    transform: scale(1.2);
}
.pictures .picture-3{
    transition: all 0.3s ease-in-out;
    transform: rotateZ(2deg)
}
.pictures .picture-3:hover {
    transform: scale(1.2);
}
.pictures .picture-4 {
    transition: all 0.3s ease-in-out;
    position: absolute;
    transform: rotateZ(348deg);
    top: 380px;
}
.pictures .picture-4:hover {
    transform: scale(1.2);
}
.responsive {
    width: 100%;
    height: auto;
  }
/*My Skills*/
.my-skills {
    margin-top: 200px;
}
.my-skills__list-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my-skills__section{
    width: 28%;
}
.my-skills__tittle, .my-tools__tittle{
    color: #414141;
    font-weight: 400;
    font-size: 50px;
}
.my-skills__section-tittle {
    color: #414141;
    font-weight: 700;
    font-size: 32px;
}
.my-skills__section-description {
    color: #414141;
    font-weight: 400;
    font-size: 28px;
}
/*My Tools*/
.my-tools {
    margin-bottom: 114px;
}
.my-tools ul{
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul{
    width: 50%;
    justify-content: space-between;
}
.image-left-bottom {
    position: absolute;
    bottom: -200px;
    left: -600px;
}
.image-right-bottom {
    position: absolute;
    bottom: -283px;
    right: -695px;
}
.fit {
    max-width: 99%;
    max-height: 99%;
  }